#not-found-btn {
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #01bcd5;
  color: #fff;
}
.info-link {
  text-decoration: none;
  a {
    text-decoration: none;
  }
}
